/* You can add global styles to this file, and also import other style files */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial';
}

.left, .right {
  float: left;
  width: calc(50% - 6em);
  padding: 3em;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

input[type="date"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

input[type="number"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

nav a:visited, a:link{
    color: #607D8B;
}

nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
}

nav a:active {
  color: #039be5;
}
